openapi: 3.0.3
info:
  title: Okasie Partner API
  description: |
    The Okasie Partner API enables external platforms and partners to synchronize vehicle listings
    with the Okasie marketplace. Use this API for periodic synchronization, incremental updates,
    and inventory management.

    ## Base URL
    ```
    https://www.okasie.be/api/external/v1
    ```

    ## Authentication
    All endpoints require Bearer token authentication:
    ```
    Authorization: Bearer <your-api-secret>
    ```

    ## Rate Limiting
    - Default: 120 requests per minute per API key
    - Rate limit headers included in all responses
  version: "1.0.0"
  contact:
    name: Okasie Support
    email: info@okasie.be
    url: https://www.okasie.be
  license:
    name: Proprietary
    url: https://www.okasie.be/terms

servers:
  - url: https://www.okasie.be/api/external/v1
    description: Production server

security:
  - bearerAuth: []

tags:
  - name: Listings
    description: Vehicle listing operations
  - name: Locations
    description: Dealer location operations

paths:
  /listings:
    get:
      operationId: getListings
      summary: List all listings
      description: |
        Retrieve paginated vehicle listings within the partner's access scope.
        Supports filtering by status, dealer, location, and incremental sync via `updatedSince`.
      tags:
        - Listings
      parameters:
        - name: page
          in: query
          description: Page number (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: page_number
          in: query
          deprecated: true
          description: Alias for page
          schema:
            type: integer
            minimum: 1
        - name: pageSize
          in: query
          description: Number of items per page (max 200)
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          example: 50
        - name: page_size
          in: query
          deprecated: true
          description: Alias for pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: limit
          in: query
          deprecated: true
          description: Alias for pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: status
          in: query
          description: Filter by listing status
          schema:
            type: string
            enum: [active, pending, sold, draft, all]
            default: active
          example: active
        - name: updatedSince
          in: query
          description: ISO 8601 datetime for incremental sync
          schema:
            type: string
            format: date-time
          example: "2024-10-01T00:00:00Z"
        - name: updated_since
          in: query
          deprecated: true
          description: Alias for updatedSince
          schema:
            type: string
            format: date-time
        - name: dealerId
          in: query
          description: Filter by specific dealer profile UUID
          schema:
            type: string
            format: uuid
        - name: locationId
          in: query
          description: Alias for filtering by specific dealer/location profile UUID
          schema:
            type: string
            format: uuid
        - name: profileId
          in: query
          description: Alias for filtering by specific dealer/location profile UUID
          schema:
            type: string
            format: uuid
        - name: userId
          in: query
          deprecated: true
          description: Alias for profileId
          schema:
            type: string
            format: uuid
        - name: parentDealerId
          in: query
          description: Filter by parent dealer (includes all child locations)
          schema:
            type: string
            format: uuid
        - name: parentId
          in: query
          deprecated: true
          description: Alias for parentDealerId
          schema:
            type: string
            format: uuid
        - name: companyId
          in: query
          deprecated: true
          description: Alias for parentDealerId
          schema:
            type: string
            format: uuid
        - name: locationCode
          in: query
          description: Filter by location code (case-insensitive)
          schema:
            type: string
          example: "DEX-GENT"
        - name: location_code
          in: query
          deprecated: true
          description: Alias for locationCode
          schema:
            type: string
      responses:
        "200":
          description: Successful response with paginated listings
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per minute
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Remaining requests in current window
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when limit resets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /listings/{externalReference}:
    put:
      operationId: upsertListing
      summary: Create or update a listing
      description: |
        Upsert a vehicle listing by external reference. Creates a new listing if it doesn't exist,
        or updates the existing one. Images are automatically mirrored to Okasie storage.

        **Important: PUT is a full replacement**

        The PUT operation replaces the entire listing. Fields not included in your request will be set to `null`.
        Always send ALL fields with every request, even when updating.
      tags:
        - Listings
      parameters:
        - name: externalReference
          in: path
          required: true
          description: Your unique reference for this listing
          schema:
            type: string
            maxLength: 64
          example: "PARTNER-12345"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListingInput"
            example:
              dealerProfileId: "84118503-030b-45f3-a867-c77d54d00b4c"
              status: "active"
              title: "Opel Corsa 1.2 Turbo"
              description: "Compact city car in excellent condition"
              price: 19995
              brand: "Opel"
              model: "Corsa"
              variant: "GS Line"
              year: 2021
              mileage: 25000
              fuelType: "petrol"
              transmission: "automatic"
              driveType: "FWD"
              gears: 6
              bodyType: "hatchback"
              engine: "1.2 Turbo 100pk"
              color: "Blauw"
              interiorColor: "Zwart"
              interiorMaterial: "Stof"
              weight: 1180
              previousOwners: 1
              serviceHistory: true
              warranty: true
              warrantyMonths: 12
              co2Emission: 118
              co2Type: "WLTP"
              emissionClass: "Euro 6d"
              paintType: "Metallic"
              fuelConsumption: 5.1
              condition: "used"
              vehicleType: "margin"
              firstRegistration: "2021-03"
              carPassUrl: "https://public.car-pass.be/vhr/example"
              postalCode: "9000"
              city: "Gent"
              province: "Oost-Vlaanderen"
              features:
                - category: "comfort"
                  name: "Airconditioning"
                - category: "safety"
                  name: "ABS"
              images:
                - "https://partner.example/car1.jpg"
                - url: "https://partner.example/car2.jpg"
                  position: 1
      responses:
        "200":
          description: Listing updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpsertResponse"
        "201":
          description: Listing created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpsertResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"

    delete:
      operationId: deleteListing
      summary: Mark listing as sold
      description: |
        Mark a listing as sold by external reference. This is a soft delete -
        the listing remains in the system with status 'sold'.
      tags:
        - Listings
      parameters:
        - name: externalReference
          in: path
          required: true
          description: Your unique reference for this listing
          schema:
            type: string
            maxLength: 64
          example: "PARTNER-12345"
      responses:
        "200":
          description: Listing marked as sold
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /listings/{externalReference}/status:
    post:
      operationId: updateListingStatus
      summary: Update listing status
      description: Update the current status of a listing by external reference.
      tags:
        - Listings
      parameters:
        - name: externalReference
          in: path
          required: true
          description: Your unique reference for this listing
          schema:
            type: string
            maxLength: 64
          example: "PARTNER-12345"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [active, pending, sold, draft]
            example:
              status: pending
      responses:
        "200":
          description: Listing status updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      listingId:
                        type: string
                        format: uuid
                      externalReference:
                        type: string
                      status:
                        type: string
                        enum: [active, pending, sold, draft]
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"

  /listings/bulk-upsert:
    post:
      operationId: bulkUpsertListings
      summary: Bulk create/update listings
      description: |
        Upsert up to 100 listings in a single request. Each item is processed independently,
        allowing partial success. Response includes success and error counts.
      tags:
        - Listings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: array
                  items:
                    $ref: "#/components/schemas/BulkListingItem"
                  maxItems: 100
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/BulkListingItem"
                      maxItems: 100
            example:
              items:
                - externalReference: "DEX-0001"
                  dealerProfileId: "84118503-030b-45f3-a867-c77d54d00b4c"
                  status: "active"
                  title: "Jeep Compass"
                  price: 18500
                  carPassUrl: "https://public.car-pass.be/vhr/example"
                  postalCode: "9000"
                  city: "Gent"
                  province: "Oost-Vlaanderen"
                - externalReference: "DEX-0002"
                  dealerLocationCode: "DEX-GENT"
                  status: "pending"
                  title: "Renault Trafic"
                  price: 26990
                  carPassUrl: "12345678901"
                  postalCode: "9000"
                  city: "Gent"
                  province: "Oost-Vlaanderen"
      responses:
        "200":
          description: Bulk operation completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpsertResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /locations:
    get:
      operationId: getLocations
      summary: List dealer locations
      description: |
        Retrieve dealer locations within the partner's access scope.
        Supports hierarchical queries and optional listing counts.
      tags:
        - Locations
      parameters:
        - name: parentId
          in: query
          description: Filter to locations under this parent profile
          schema:
            type: string
            format: uuid
        - name: parent_id
          in: query
          deprecated: true
          description: Alias for parentId
          schema:
            type: string
            format: uuid
        - name: includeChildren
          in: query
          description: Include child locations in results
          schema:
            type: boolean
            default: true
        - name: withCounts
          in: query
          description: Include listing counts per location
          schema:
            type: boolean
            default: true
        - name: search
          in: query
          description: Search by name, city, province, or location code
          schema:
            type: string
          example: "Gent"
      responses:
        "200":
          description: Successful response with locations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /locations/{id}/listings:
    get:
      operationId: getLocationListings
      summary: List listings for a location
      description: |
        Retrieve all listings for a specific dealer location.
        Supports the same filters as the main listings endpoint.
      tags:
        - Locations
      parameters:
        - name: id
          in: path
          required: true
          description: Location profile UUID
          schema:
            type: string
            format: uuid
        - name: includeChildren
          in: query
          description: Include listings from child locations
          schema:
            type: boolean
            default: false
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_number
          in: query
          deprecated: true
          description: Alias for page
          schema:
            type: integer
            minimum: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: page_size
          in: query
          deprecated: true
          description: Alias for pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: limit
          in: query
          deprecated: true
          description: Alias for pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: status
          in: query
          schema:
            type: string
            enum: [active, pending, sold, draft, all]
            default: active
        - name: updatedSince
          in: query
          schema:
            type: string
            format: date-time
        - name: updated_since
          in: query
          deprecated: true
          description: Alias for updatedSince
          schema:
            type: string
            format: date-time
        - name: locationCode
          in: query
          description: Filter by location code (case-insensitive)
          schema:
            type: string
        - name: location_code
          in: query
          deprecated: true
          description: Alias for locationCode
          schema:
            type: string
      responses:
        "200":
          description: Successful response with location listings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Use your partner API secret as a Bearer token.
        Contact info@okasie.be to request access.

  schemas:
    Listing:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Okasie listing ID
        slug:
          type: string
          nullable: true
          description: Public Okasie listing slug
        listingUrl:
          type: string
          nullable: true
          format: uri
          description: Public Okasie listing URL
        dealerProfileId:
          type: string
          format: uuid
          description: Dealer profile ID
        externalReference:
          type: string
          description: Partner's reference
        externalProvider:
          type: string
          description: Partner identifier
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, pending, sold, draft]
        price:
          type: number
          format: decimal
        currency:
          type: string
          default: "EUR"
        brand:
          type: string
        model:
          type: string
        year:
          type: integer
        mileage:
          type: integer
        fuelType:
          type: string
          enum: [petrol, diesel, electric, hybrid, lpg, cng, other]
        transmission:
          type: string
          enum: [manual, automatic, semi-automatic, other]
        bodyType:
          type: string
          enum: [hatchback, sedan, suv, wagon, convertible, van, coupe, other]
        firstRegistration:
          type: string
          pattern: "^\\d{4}-\\d{2}$"
          example: "2021-03"
        doors:
          type: integer
        color:
          type: string
        powerKw:
          type: number
        vin:
          type: string
          maxLength: 17
        carPassUrl:
          type: string
          nullable: true
          description: Public Car-Pass URL from public.car-pass.be or car-pass.be, or a legacy 11-digit certificate number
          example: "https://public.car-pass.be/vhr/example"
        # Additional vehicle details
        engine:
          type: string
          description: Engine description
        driveType:
          type: string
          description: Drive type (FWD, RWD, AWD, 4WD)
        gears:
          type: integer
          description: Number of gears
        interiorColor:
          type: string
          description: Interior color
        interiorMaterial:
          type: string
          description: Interior material
        weight:
          type: integer
          description: Vehicle weight in kg
        previousOwners:
          type: integer
          description: Number of previous owners
        serviceHistory:
          type: boolean
          description: Service history available
        warranty:
          type: boolean
          description: Warranty included
        warrantyMonths:
          type: integer
          description: Warranty duration in months
        co2Emission:
          type: integer
          description: CO2 emissions in g/km
        co2Type:
          type: string
          description: CO2 measurement standard (WLTP or NEDC)
        emissionClass:
          type: string
          description: Euro emission class
        paintType:
          type: string
          description: Paint type
        fuelConsumption:
          type: number
          description: Fuel consumption in L/100km
        variant:
          type: string
          description: Model variant/trim level
        conditionTags:
          type: array
          items:
            type: string
          description: Vehicle condition tags
        vehicleType:
          type: string
          description: VAT regime (margin or btw)
        location:
          type: object
          properties:
            postalCode:
              type: string
            city:
              type: string
            province:
              type: string
            latitude:
              type: number
            longitude:
              type: number
        images:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
              position:
                type: integer
        mainImageUrl:
          type: string
          nullable: true
          format: uri
          description: First image URL
        features:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              name:
                type: string
        dealer:
          $ref: "#/components/schemas/Dealer"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        soldAt:
          type: string
          format: date-time
          nullable: true

    ListingInput:
      type: object
      required:
        - title
      properties:
        dealerProfileId:
          type: string
          format: uuid
          description: Dealer profile UUID (required if dealerLocationCode not provided)
        dealerLocationCode:
          type: string
          description: Location code (required if dealerProfileId not provided)
        status:
          type: string
          enum: [active, pending, sold, draft]
          default: draft
        title:
          type: string
          minLength: 1
        description:
          type: string
          maxLength: 15000
        price:
          type: number
          minimum: 0
          description: Required when status is active or pending
        currency:
          type: string
          default: "EUR"
        brand:
          type: string
          maxLength: 120
        model:
          type: string
          maxLength: 120
        year:
          type: integer
          minimum: 1900
        mileage:
          type: integer
          minimum: 0
        fuelType:
          type: string
          maxLength: 60
        transmission:
          type: string
          maxLength: 60
        bodyType:
          type: string
          maxLength: 60
        color:
          type: string
          maxLength: 60
        doors:
          type: integer
          minimum: 1
          maximum: 10
        seats:
          type: integer
          minimum: 1
          maximum: 10
        powerKw:
          type: number
          minimum: 0
        vin:
          type: string
          maxLength: 32
        carPassUrl:
          type: string
          maxLength: 2048
          nullable: true
          description: Canonical Car-Pass field. Accepts a public.car-pass.be or car-pass.be URL, or a legacy 11-digit certificate number. Input aliases carPass, car_pass_url, and carPassNumber are also accepted.
          example: "https://public.car-pass.be/vhr/example"
        carPass:
          type: string
          maxLength: 2048
          nullable: true
          deprecated: true
          description: Alias for carPassUrl. Prefer carPassUrl for new integrations.
        car_pass_url:
          type: string
          maxLength: 2048
          nullable: true
          deprecated: true
          description: Alias for carPassUrl. Prefer carPassUrl for new integrations.
        carPassNumber:
          type: string
          maxLength: 2048
          nullable: true
          deprecated: true
          description: Alias for carPassUrl. Prefer carPassUrl for new integrations.
        postalCode:
          type: string
          maxLength: 32
          description: Required for active listings
        city:
          type: string
          maxLength: 120
          description: Required for active listings
        province:
          type: string
          maxLength: 120
          description: Required for active listings
        firstRegistration:
          type: string
          maxLength: 10
          example: "2021-03"
        customType:
          type: string
          maxLength: 60
          description: Custom vehicle type label. If omitted, variant is also used as the custom type label.
        conditionTags:
          type: array
          maxItems: 6
          items:
            type: string
            maxLength: 32
          description: Vehicle condition tags
        latitude:
          type: number
        longitude:
          type: number
        # Additional vehicle details
        engine:
          type: string
          maxLength: 60
          description: Engine description (e.g., "1.6 TDI 115pk")
        driveType:
          type: string
          maxLength: 60
          description: Drive type (FWD, RWD, AWD, 4WD, 4x4)
          example: "FWD"
        gears:
          type: integer
          minimum: 1
          maximum: 12
          description: Number of gears
        interiorColor:
          type: string
          maxLength: 60
          description: Interior color
        interiorMaterial:
          type: string
          maxLength: 60
          description: Interior material (Leder, Stof, Alcantara, Kunstleder, etc.)
        weight:
          type: integer
          minimum: 0
          description: Vehicle weight in kg
        previousOwners:
          type: integer
          minimum: 0
          description: Number of previous owners
        serviceHistory:
          type: boolean
          description: Service history available
        warranty:
          type: boolean
          description: Warranty included
        warrantyMonths:
          type: integer
          minimum: 0
          description: Warranty duration in months
        co2Emission:
          type: integer
          minimum: 0
          description: CO2 emissions in g/km
        co2Type:
          type: string
          maxLength: 30
          description: CO2 measurement standard (WLTP or NEDC)
          enum: [WLTP, NEDC]
        emissionClass:
          type: string
          maxLength: 30
          description: Euro emission class (e.g., "Euro 6d")
        paintType:
          type: string
          maxLength: 60
          description: Paint type (Metallic, Parelmoer, Mat, Uni)
        fuelConsumption:
          type: number
          minimum: 0
          description: Fuel consumption in L/100km
        variant:
          type: string
          maxLength: 120
          description: Model variant/trim level (e.g., "GT Line", "Signature")
        condition:
          type: string
          maxLength: 60
          description: Vehicle condition
          enum: [new, used, demo, oldtimer, damaged]
        vehicleType:
          type: string
          maxLength: 60
          description: VAT regime (margin or btw)
          enum: [margin, btw]
        location:
          type: object
          description: Optional nested location object. Top-level postalCode, city, province, latitude, and longitude are also accepted.
          properties:
            postalCode:
              type: string
              maxLength: 32
            city:
              type: string
              maxLength: 120
            province:
              type: string
              maxLength: 120
            latitude:
              type: number
            longitude:
              type: number
        features:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
                enum: [interior, exterior, safety, comfort, technology, other]
              name:
                type: string
              feature:
                type: string
                description: Alias for name
        images:
          type: array
          description: Array of image URLs or objects with url and position
          items:
            oneOf:
              - type: string
                format: uri
              - type: object
                properties:
                  url:
                    type: string
                    format: uri
                  imageUrl:
                    type: string
                    format: uri
                    description: Alias for url
                  position:
                    type: integer

    BulkListingItem:
      allOf:
        - oneOf:
            - type: object
              required:
                - externalReference
              properties:
                externalReference:
                  type: string
                  description: Your unique reference for this listing
            - type: object
              required:
                - external_reference
              properties:
                external_reference:
                  type: string
                  deprecated: true
                  description: Alias for externalReference. Prefer externalReference.
        - $ref: "#/components/schemas/ListingInput"

    Dealer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        parentId:
          type: string
          format: uuid
        locationCode:
          type: string
        companyName:
          type: string
        fullName:
          type: string
        displayName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          type: string
        postalCode:
          type: string
        city:
          type: string
        province:
          type: string
        logoUrl:
          type: string
          format: uri
        metadata:
          type: object
        parent:
          type: object
          properties:
            id:
              type: string
              format: uuid
            locationCode:
              type: string
            companyName:
              type: string
            fullName:
              type: string
            displayName:
              type: string

    Location:
      type: object
      properties:
        id:
          type: string
          format: uuid
        parentId:
          type: string
          format: uuid
        locationCode:
          type: string
        companyName:
          type: string
        fullName:
          type: string
        displayName:
          type: string
        email:
          type: string
        phone:
          type: string
        address:
          type: string
        postalCode:
          type: string
        city:
          type: string
        province:
          type: string
        logoUrl:
          type: string
          format: uri
        metadata:
          type: object
        parent:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            locationCode:
              type: string
            companyName:
              type: string
            fullName:
              type: string
            displayName:
              type: string
        isRoot:
          type: boolean
        stats:
          type: object
          properties:
            activeListings:
              type: integer
            totalListings:
              type: integer
            avgActivePrevMonth:
              type: number
              nullable: true
        updatedAt:
          type: string
          format: date-time
          nullable: true

    ListingsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Listing"
        pagination:
          $ref: "#/components/schemas/Pagination"
        meta:
          type: object
          properties:
            partner:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                source:
                  type: string
                access:
                  type: object
            filters:
              type: object
            profileScope:
              type: object

    LocationsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Location"
        meta:
          type: object
          properties:
            total:
              type: integer
            profileIds:
              type: array
              items:
                type: string
                format: uuid
            rootProfileIds:
              type: array
              nullable: true
              items:
                type: string
                format: uuid
            filters:
              type: object
            partner:
              type: object

    UpsertResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            listingId:
              type: string
              format: uuid
            externalReference:
              type: string
            status:
              type: string
            created:
              type: boolean
            warnings:
              type: object
              properties:
                skippedImages:
                  type: array
                  items:
                    type: object
                    properties:
                      source:
                        type: string
                      reason:
                        type: string

    DeleteResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            listingId:
              type: string
              format: uuid
            externalReference:
              type: string
            status:
              type: string
              enum: [sold]

    BulkUpsertResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            successCount:
              type: integer
            errorCount:
              type: integer
            results:
              type: array
              items:
                type: object
                properties:
                  index:
                    type: integer
                  externalReference:
                    type: string
                  listingId:
                    type: string
                    format: uuid
                  status:
                    type: string
                  created:
                    type: boolean
                  warnings:
                    type: object
                    properties:
                      skippedImages:
                        type: array
                        items:
                          type: object
                          properties:
                            source:
                              type: string
                            reason:
                              type: string
            errors:
              type: array
              items:
                type: object
                properties:
                  index:
                    type: integer
                  externalReference:
                    type: string
                  message:
                    type: string
                  code:
                    type: string
                  status:
                    type: integer
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                        code:
                          type: string

    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

  responses:
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "UNAUTHORIZED"
              message: "Invalid or missing API key"

    Forbidden:
      description: Access denied to requested resource
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "PROFILE_FORBIDDEN"
              message: "Partner does not have access to the requested profile"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "NOT_FOUND"
              message: "Listing not found for this partner"

    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "INVALID_JSON"
              message: "Request body must be valid JSON"

    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
          example:
            error:
              code: "VALIDATION_FAILED"
              message: "Payload validation failed"
              issues:
                - path: "price"
                  message: "Required"
                  code: "invalid_type"

    RateLimited:
      description: Too many requests
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "RATE_LIMITED"
              message: "Too many requests"

    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "SERVER_ERROR"
              message: "Failed to load listings"
