openapi: 3.0.3
info:
  title: Okasie Partner API
  description: |
    The Okasie Partner API enables external platforms and partners to synchronize vehicle listings
    with the Okasie marketplace. Use this API for periodic synchronization, incremental updates,
    and inventory management.

    ## Base URL
    ```
    https://www.okasie.be/api/external/v1
    ```

    ## Authentication
    All endpoints require Bearer token authentication:
    ```
    Authorization: Bearer <your-api-secret>
    ```

    ## Rate Limiting
    - Default: 120 requests per minute per API key
    - Rate limit headers included in all responses
  version: "1.0.0"
  contact:
    name: Okasie Support
    email: info@okasie.be
    url: https://www.okasie.be
  license:
    name: Proprietary
    url: https://www.okasie.be/terms

servers:
  - url: https://www.okasie.be/api/external/v1
    description: Production server

security:
  - bearerAuth: []

tags:
  - name: Listings
    description: Vehicle listing operations
  - name: Locations
    description: Dealer location operations

paths:
  /listings:
    get:
      operationId: getListings
      summary: List all listings
      description: |
        Retrieve paginated vehicle listings within the partner's access scope.
        Supports filtering by status, dealer, location, and incremental sync via `updatedSince`.
      tags:
        - Listings
      parameters:
        - name: page
          in: query
          description: Page number (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: pageSize
          in: query
          description: Number of items per page (max 200)
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          example: 50
        - name: status
          in: query
          description: Filter by listing status
          schema:
            type: string
            enum: [active, pending, sold, draft, all]
            default: active
          example: active
        - name: updatedSince
          in: query
          description: ISO 8601 datetime for incremental sync
          schema:
            type: string
            format: date-time
          example: "2024-10-01T00:00:00Z"
        - name: dealerId
          in: query
          description: Filter by specific dealer profile UUID
          schema:
            type: string
            format: uuid
        - name: parentDealerId
          in: query
          description: Filter by parent dealer (includes all child locations)
          schema:
            type: string
            format: uuid
        - name: locationCode
          in: query
          description: Filter by location code (case-insensitive)
          schema:
            type: string
          example: "DEX-GENT"
      responses:
        "200":
          description: Successful response with paginated listings
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per minute
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Remaining requests in current window
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when limit resets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /listings/{externalReference}:
    put:
      operationId: upsertListing
      summary: Create or update a listing
      description: |
        Upsert a vehicle listing by external reference. Creates a new listing if it doesn't exist,
        or updates the existing one. Images are automatically mirrored to Okasie storage.
      tags:
        - Listings
      parameters:
        - name: externalReference
          in: path
          required: true
          description: Your unique reference for this listing
          schema:
            type: string
            maxLength: 64
          example: "PARTNER-12345"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListingInput"
            example:
              dealerProfileId: "84118503-030b-45f3-a867-c77d54d00b4c"
              status: "active"
              title: "Opel Corsa 1.2 Turbo"
              description: "Compact city car in excellent condition"
              price: 19995
              brand: "Opel"
              model: "Corsa"
              year: 2021
              mileage: 25000
              fuelType: "petrol"
              transmission: "automatic"
              bodyType: "hatchback"
              postalCode: "9000"
              city: "Gent"
              province: "Oost-Vlaanderen"
              features:
                - category: "comfort"
                  name: "Airconditioning"
                - category: "safety"
                  name: "ABS"
              images:
                - "https://partner.example/car1.jpg"
                - url: "https://partner.example/car2.jpg"
                  position: 1
      responses:
        "200":
          description: Listing updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpsertResponse"
        "201":
          description: Listing created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpsertResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"

    delete:
      operationId: deleteListing
      summary: Mark listing as sold
      description: |
        Mark a listing as sold by external reference. This is a soft delete -
        the listing remains in the system with status 'sold'.
      tags:
        - Listings
      parameters:
        - name: externalReference
          in: path
          required: true
          description: Your unique reference for this listing
          schema:
            type: string
            maxLength: 64
          example: "PARTNER-12345"
      responses:
        "200":
          description: Listing marked as sold
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /listings/{externalReference}/status:
    get:
      operationId: getListingStatus
      summary: Get listing status
      description: Check the current status of a listing by external reference.
      tags:
        - Listings
      parameters:
        - name: externalReference
          in: path
          required: true
          description: Your unique reference for this listing
          schema:
            type: string
            maxLength: 64
          example: "PARTNER-12345"
      responses:
        "200":
          description: Listing status
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      listingId:
                        type: string
                        format: uuid
                      externalReference:
                        type: string
                      status:
                        type: string
                        enum: [active, pending, sold, draft]
                      updatedAt:
                        type: string
                        format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /listings/bulk-upsert:
    post:
      operationId: bulkUpsertListings
      summary: Bulk create/update listings
      description: |
        Upsert up to 100 listings in a single request. Each item is processed independently,
        allowing partial success. Response includes success and error counts.
      tags:
        - Listings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: array
                  items:
                    $ref: "#/components/schemas/BulkListingItem"
                  maxItems: 100
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/BulkListingItem"
                      maxItems: 100
            example:
              items:
                - externalReference: "DEX-0001"
                  dealerProfileId: "84118503-030b-45f3-a867-c77d54d00b4c"
                  status: "active"
                  title: "Jeep Compass"
                  price: 18500
                  postalCode: "9000"
                  city: "Gent"
                  province: "Oost-Vlaanderen"
                - externalReference: "DEX-0002"
                  dealerLocationCode: "DEX-GENT"
                  status: "pending"
                  title: "Renault Trafic"
                  price: 26990
                  postalCode: "9000"
                  city: "Gent"
                  province: "Oost-Vlaanderen"
      responses:
        "200":
          description: Bulk operation completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpsertResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /locations:
    get:
      operationId: getLocations
      summary: List dealer locations
      description: |
        Retrieve dealer locations within the partner's access scope.
        Supports hierarchical queries and optional listing counts.
      tags:
        - Locations
      parameters:
        - name: parentId
          in: query
          description: Filter to locations under this parent profile
          schema:
            type: string
            format: uuid
        - name: includeChildren
          in: query
          description: Include child locations in results
          schema:
            type: boolean
            default: true
        - name: withCounts
          in: query
          description: Include listing counts per location
          schema:
            type: boolean
            default: true
        - name: search
          in: query
          description: Search by name, city, province, or location code
          schema:
            type: string
          example: "Gent"
      responses:
        "200":
          description: Successful response with locations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /locations/{id}/listings:
    get:
      operationId: getLocationListings
      summary: List listings for a location
      description: |
        Retrieve all listings for a specific dealer location.
        Supports the same filters as the main listings endpoint.
      tags:
        - Locations
      parameters:
        - name: id
          in: path
          required: true
          description: Location profile UUID
          schema:
            type: string
            format: uuid
        - name: includeChildren
          in: query
          description: Include listings from child locations
          schema:
            type: boolean
            default: false
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: status
          in: query
          schema:
            type: string
            enum: [active, pending, sold, draft, all]
            default: active
        - name: updatedSince
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Successful response with location listings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Use your partner API secret as a Bearer token.
        Contact info@okasie.be to request access.

  schemas:
    Listing:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Okasie listing ID
        dealerProfileId:
          type: string
          format: uuid
          description: Dealer profile ID
        externalReference:
          type: string
          description: Partner's reference
        externalProvider:
          type: string
          description: Partner identifier
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, pending, sold, draft]
        price:
          type: number
          format: decimal
        currency:
          type: string
          default: "EUR"
        brand:
          type: string
        model:
          type: string
        year:
          type: integer
        mileage:
          type: integer
        fuelType:
          type: string
          enum: [petrol, diesel, electric, hybrid, lpg, cng, other]
        transmission:
          type: string
          enum: [manual, automatic, semi-automatic, other]
        bodyType:
          type: string
          enum: [hatchback, sedan, suv, wagon, convertible, van, coupe, other]
        firstRegistration:
          type: string
          pattern: "^\\d{4}-\\d{2}$"
          example: "2021-03"
        doors:
          type: integer
        seats:
          type: integer
        color:
          type: string
        powerKw:
          type: number
          description: Engine power in kW
        co2Emission:
          type: integer
          description: CO2 emissions in g/km
        emissionClass:
          type: string
          description: Euro emission class (e.g., "EURO 6")
        vin:
          type: string
          maxLength: 17
        location:
          type: object
          properties:
            postalCode:
              type: string
            city:
              type: string
            province:
              type: string
            latitude:
              type: number
            longitude:
              type: number
        images:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
              position:
                type: integer
        features:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              name:
                type: string
        dealer:
          $ref: "#/components/schemas/Dealer"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        soldAt:
          type: string
          format: date-time
          nullable: true

    ListingInput:
      type: object
      required:
        - title
      properties:
        dealerProfileId:
          type: string
          format: uuid
          description: Dealer profile UUID (required if dealerLocationCode not provided)
        dealerLocationCode:
          type: string
          description: Location code (required if dealerProfileId not provided)
        status:
          type: string
          enum: [active, pending, sold, draft]
          default: draft
        title:
          type: string
          minLength: 1
        description:
          type: string
          maxLength: 15000
        price:
          type: number
          minimum: 0
          description: Required when status is active or pending
        currency:
          type: string
          default: "EUR"
        brand:
          type: string
          maxLength: 120
        model:
          type: string
          maxLength: 120
        year:
          type: integer
          minimum: 1900
        mileage:
          type: integer
          minimum: 0
        fuelType:
          type: string
          maxLength: 60
        transmission:
          type: string
          maxLength: 60
        bodyType:
          type: string
          maxLength: 60
        color:
          type: string
          maxLength: 60
        doors:
          type: integer
          minimum: 1
          maximum: 10
        seats:
          type: integer
          minimum: 1
          maximum: 10
        powerKw:
          type: number
          minimum: 0
          description: Engine power in kW (converted to HP internally)
        co2Emission:
          type: integer
          minimum: 0
          description: CO2 emissions in g/km
        emissionClass:
          type: string
          maxLength: 30
          description: Euro emission class (e.g., "EURO 6", "EURO 6d")
        vin:
          type: string
          maxLength: 32
        postalCode:
          type: string
          maxLength: 32
          description: Required for active listings
        city:
          type: string
          maxLength: 120
          description: Required for active listings
        province:
          type: string
          maxLength: 120
          description: Required for active listings
        firstRegistration:
          type: string
          maxLength: 10
          example: "2021-03"
        latitude:
          type: number
        longitude:
          type: number
        features:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
                enum: [interior, exterior, safety, comfort, technology, other]
              name:
                type: string
        images:
          type: array
          description: Array of image URLs or objects with url and position
          items:
            oneOf:
              - type: string
                format: uri
              - type: object
                properties:
                  url:
                    type: string
                    format: uri
                  position:
                    type: integer

    BulkListingItem:
      allOf:
        - type: object
          required:
            - externalReference
          properties:
            externalReference:
              type: string
              description: Your unique reference for this listing
        - $ref: "#/components/schemas/ListingInput"

    Dealer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        parentId:
          type: string
          format: uuid
        locationCode:
          type: string
        companyName:
          type: string
        displayName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          type: string
        postalCode:
          type: string
        city:
          type: string
        province:
          type: string
        logoUrl:
          type: string
          format: uri
        metadata:
          type: object
        parent:
          type: object
          properties:
            id:
              type: string
              format: uuid
            locationCode:
              type: string
            companyName:
              type: string
            displayName:
              type: string

    Location:
      type: object
      properties:
        id:
          type: string
          format: uuid
        parentId:
          type: string
          format: uuid
        locationCode:
          type: string
        companyName:
          type: string
        displayName:
          type: string
        email:
          type: string
        phone:
          type: string
        address:
          type: string
        postalCode:
          type: string
        city:
          type: string
        province:
          type: string
        isRoot:
          type: boolean
        stats:
          type: object
          properties:
            activeListings:
              type: integer
            totalListings:
              type: integer
        children:
          type: array
          items:
            $ref: "#/components/schemas/Location"

    ListingsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Listing"
        pagination:
          $ref: "#/components/schemas/Pagination"
        meta:
          type: object
          properties:
            partner:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                source:
                  type: string
                access:
                  type: object
            filters:
              type: object

    LocationsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Location"
        meta:
          type: object
          properties:
            total:
              type: integer
            partner:
              type: object

    UpsertResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            listingId:
              type: string
              format: uuid
            externalReference:
              type: string
            status:
              type: string
            created:
              type: boolean
            warnings:
              type: object
              properties:
                skippedImages:
                  type: array
                  items:
                    type: object
                    properties:
                      source:
                        type: string
                      reason:
                        type: string

    DeleteResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            listingId:
              type: string
              format: uuid
            externalReference:
              type: string
            status:
              type: string
              enum: [sold]

    BulkUpsertResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            successCount:
              type: integer
            errorCount:
              type: integer
            results:
              type: array
              items:
                type: object
                properties:
                  index:
                    type: integer
                  externalReference:
                    type: string
                  listingId:
                    type: string
                    format: uuid
                  status:
                    type: string
                  created:
                    type: boolean
            errors:
              type: array
              items:
                type: object
                properties:
                  index:
                    type: integer
                  externalReference:
                    type: string
                  message:
                    type: string
                  code:
                    type: string
                  status:
                    type: integer

    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

  responses:
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "UNAUTHORIZED"
              message: "Invalid or missing API key"

    Forbidden:
      description: Access denied to requested resource
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "PROFILE_FORBIDDEN"
              message: "Partner does not have access to the requested profile"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "NOT_FOUND"
              message: "Listing not found for this partner"

    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "INVALID_JSON"
              message: "Request body must be valid JSON"

    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
          example:
            error:
              code: "VALIDATION_FAILED"
              message: "Payload validation failed"
              issues:
                - path: "price"
                  message: "Required"
                  code: "invalid_type"

    RateLimited:
      description: Too many requests
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "RATE_LIMITED"
              message: "Too many requests"

    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "SERVER_ERROR"
              message: "Failed to load listings"
